<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>GIF WhatsApp Sender</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>GIF Sender para WhatsApp</h1>
        <form method="POST">
            <input type="text" name="termo" placeholder="Digite um termo, ex: memes" required>
            <button type="submit">Buscar</button>
        </form>
        <div class="row">
            {% for gif in gifs %}
            <div class="gif-card">
                <img src="{{ gif }}" alt="GIF">
                <br>
                <a href="https://wa.me/?text={{ gif }}" target="_blank" class="btn-whatsapp">
                    Enviar pelo WhatsApp
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
